%input{ type: "textbox", value: "東大宮駅", id: "address" }
%input{ type: "textbox", value: "レストラン", id: "storeName" }
%input{ type: "button", value: "Encode", Onclick: "codeAddress()" }
.map#map
.rightPanel
  %h2 Results
  %ul#places
  %button#more More results
